<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>137584986894-o0qq400i29mrpga9k42p1gl58b2vb6sb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.137584986894-o0qq400i29mrpga9k42p1gl58b2vb6sb</string>
	<key>API_KEY</key>
	<string>AIzaSyBJAjM4BWS7HodroR5NbUimlSb6D49qGgo</string>
	<key>GCM_SENDER_ID</key>
	<string>137584986894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.burakacik.KisilerViperPattern</string>
	<key>PROJECT_ID</key>
	<string>kisileregitim-d5aef</string>
	<key>STORAGE_BUCKET</key>
	<string>kisileregitim-d5aef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137584986894:ios:d76e24fc5363d4bc25655f</string>
	<key>DATABASE_URL</key>
	<string>https://kisileregitim-d5aef-default-rtdb.firebaseio.com</string>
</dict>
</plist>